# configurations
.idea

# dependencies
node_modules

# testing
coverage

# database
h2*

#index
index

# production
dist
target

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm*
yarn*