.label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.select2-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.select2-results__option:before {
    content: "";
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.select2-results__option[aria-selected=true]:before {
    content: "\f00c";
    display: inline-block;
}