<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="TestNG suite name" parallel="classes" thread-count="10">
    <test name="com.zdanovich.core.integration">
        <packages>
            <package name="com.zdanovich.core.integration.database"/>
            <package name="com.zdanovich.core.integration.repository"/>
            <package name="com.zdanovich.core.integration.service"/>
        </packages>
        <classes>
            <class name="com.zdanovich.core.integration.database.MigrationTest"/>
        </classes>
    </test>

    <test name="com.zdanovich.core.unit" parallel="methods">
        <packages>
            <package name="com.zdanovich.core.unit"/>
        </packages>
    </test>
</suite>