.map {
    grid-area: map;
    justify-content: space-evenly; /*make search in center*/
    align-items: center; /*vertical center for header*/
    align-self: center;
}

[class^="leaflet"] {
    border: none;
}
